body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.Tablero {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  justify-content: center;
  margin-top: 20px;
}

.Celda {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  display: flex;              
  justify-content: center;    
  align-items: center;  
}

.Celda.Revelada {
  background-color: #eee;
  cursor: default;
  text-align: center;
}


.Celda.Minado {
  background-color: #e74c3c;
  color: white;
}

.Celda.Bandera{
  background-color: #417f30;
}

.Resultado {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #222;
  padding: 10px;
}
.Resultado.ganar {
  color: green;
}
.Resultado.perder {
  color: red;
}
