body {
  font-family: sans-serif;
  text-align: center;
  background-color: #298b39;
  font-family: "Minecraft", sans-serif;
}

.Header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #213d2693;
}

.Tablero {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  justify-content: center;
  margin-top: 20px;
}

.Celda {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border: 0px solid #999;
  display: inline-block;
  box-sizing: border-box;
  background-image: url("assets/img/Celda.png ");
  margin: 0;
  padding: 0;
  border: #624b4b solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  color: #110a7e;
}

.Celda.Revelada {
  background-image: url("assets/img/Revelada.png");
  background-size: cover;
  background-position: center;
}

.Celda.Minado {
  background-image: url("assets/img/Mina.png");
  background-size: cover;
  background-position: center;
}

.Celda.Bandera {
  background-image: url("assets/img/Bandera.png");
  background-size: cover;
  background-position: center;
}

.Resultado {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #222;
  padding: 10px;
}
.Resultado.ganar {
  color: rgb(61, 72, 61);
}
.Resultado.perder {
  color: red;
}

.Titulo-Componentes {
  font-family: "Minecraft", sans-serif;
  background: #214121;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1.1em;
  min-width: 90px;
  height: 40px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  transition: background 0.2s;
}

.Titulo-Componentes:hover {
  background: #444;
}


#NuevaPartida {
  background: transparent;
  border: none;
  padding: 0;
  margin: 24px auto 0 auto;
  cursor: pointer;
  outline: none;
  display: block;
  position: static;
}
#NuevaPartida img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  background: transparent;
  border-radius: 8px;
}
#NuevaPartida:hover img {
  filter: brightness(1.2) drop-shadow(0 0 6px #fff8);
}

.info-juego {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.puntos{
  margin: 0 45px;
  font-size: 22;
  color: #222;
}


